.profile-card {
  display: flex;
  flex-direction: column;
  padding: 5%;
  overflow: hidden;
  overflow-wrap: break-word;
  width: 75%;
  align-items: center;
  border-radius: 1%;
  box-shadow: 3px 3px 2px #aaaaaa;
}

.user-image{
  border-radius: 50%
}